@font-face {
  font-family: "homeFont"; /* This is the name you will use to refer to the font */
  src: url("../public/Raleway-VariableFont_wght.ttf") format("truetype"); /* Path to your font file */
  font-weight: 200; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

@font-face {
  font-family: "titleFont"; /* This is the name you will use to refer to the font */
  src: url("../public/ArchivoBlack-Regular.ttf") format("truetype"); /* Path to your font file */
  font-weight: 200; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notfinished {
  background-color: #151a1d;
  color: #e2396c;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  color: white;
  text-align: center;
  font-family: homeFont;
}

.homeBackground {
  background-color: #000;
  position: absolute;
  z-index: 0;
  overflow-y: hidden;
}

.titlehome {
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 20%;
  z-index: 0;
  font-size: 40px;
  color: #fff;
  font-family: homeFont, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.arrow {
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white; /* Color of the arrows */
  z-index: 1; /* Ensure arrows are above other elements */
}

.arrow.left {
  left: 40px; /* Position the left arrow */
  font-size: 6vw;
  color: #595757;
}

.arrow.right {
  right: 10px; /* Position the right arrow */
  font-size: 6vw;
  color: #595757;
}

.titlehome3 {
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 43%;
  z-index: 0;
  font-size: 6vw;
  color: #d5990c00;
  text-shadow: 1px 0px 5px rgb(192, 51, 223);
  font-family: titleFont, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.titlehome3:hover {
  text-shadow: 1px 0px 5px rgb(203, 110, 223);
}

.titlehome2 {
  position: absolute;
  text-align: center;
  top: 75%;
  width: 100vw;
  z-index: 0;
  font-size: 40px;
  color: #fff;
  font-family: homeFont, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.homepage1 {
  background-color: #1a1e21;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.App-header {
  top: -10px;
  overflow-x: hidden;
  width: 100%;
  left: 10%;
  height: 90px;
  align-content: center;
  background-color: #10141d;
  font-size: 28px;
  margin-right: -50%;
  z-index: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
  font-family: homeFont;
  color: white;
}

.App-text {
  position: absolute;
  width: 100%;
  height: 90px;
  left: 7%;
  top: 0%;
  margin-right: -5%;
  align-content: center;
}
.App-textlogo {
  position: absolute;
  width: 100%;
  height: 90px;
  left: 3%;
  top: 0%;
  margin-right: -5%;
  align-content: center;
}

.App-logo {
  position: absolute;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0%;
  margin-left: -5%;
  align-content: center;
  text-align: right;
}

.redGradient {
  background: linear-gradient(to bottom, #ff002f, #e9263d, #e96868);
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
  background-clip: text; /* For non-WebKit browsers */
  z-index: 10;
  top: -10vh;
}

.yellowGradient {
  background: linear-gradient(to bottom, #ebeb07, #eae054, #eada74);
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
  background-clip: text; /* For non-WebKit browsers */
  z-index: 10;
  top: -10vh;
}

.blueGradient {
  background: linear-gradient(to bottom, #007bff, #2192ef, #0ebee5);
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
  background-clip: text; /* For non-WebKit browsers */
}

.virtual-museum {
  position: relative;
  margin-top: 10px;
  height: 100vh;
  width: 100vw;
}

.App {
  position: absolute;
  width: 100vw;
  height: 300vh;
  background: linear-gradient(to bottom, #191920, #191920);
}

.sect {
  margin: 9%;
  padding: 0px;
}

.sectcover {
  top: 0vh;
  padding-top: 1px;
  position: relative;
  height: 400vh;
  width: 100%;
  background-color: #000000;
}

.gradient-text {
  font-size: 50px; /* Adjust font size as needed */
  font-weight: lighter; /* Make it bold */
  background: linear-gradient(to bottom, #ff9100, #f4a333, #f1b35d);
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
  background-clip: text; /* For non-WebKit browsers */
}

p {
  font-size: 20px;
  color: #fff;
  margin: 3%;
  z-index: 2;
}
